<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
    <title>添加账本</title>
</head>
<body>
<form class="layui-form" style="margin: 30px">
    <div class="layui-form-item">
        <label class="layui-form-label">账本名称：</label>
        <div class="layui-input-inline">
            <input type="text" name="accountBookName" required lay-verify="accountBookName" placeholder="请输入账本名"
                   autocomplete="off" class="layui-input" style="width: 180px" id="account-book-name"/>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin: 0">
        <div class="layui-input-block" style="text-align: center; margin: 0">
            <button class="layui-btn" lay-submit lay-filter="addAccountBookName">立即提交</button>
        </div>
    </div>
</form>

<script th:src="@{/layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    //使用 layui 框架
    layui.use(['layer', 'element', 'jquery', 'form'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;

        //表单验证
        form.verify({
            accountBookName: function (value, item) {
                if (value.trim() === '') {
                    layer.tips("请输入账本名", "#account-book-name");
                    return true;
                }
                if(value.length > 10){
                    layer.tips("账本名称过长", "#account-book-name");
                    return true;
                }
            }
        });

        //提交表单
        form.on('submit(addAccountBookName)', function (data) {
            $.ajax({
                url: '/accountBook/addAccountBook.do',
                data: data.field,
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.success) {
                        layer.msg(
                            data.msg,
                            {time: 1500},
                            function(){
                                $("#account-book-name").val("");//清空表单值
                                //是否更新账本列表
                                window.localStorage.setItem("isReload", "1");
                                // // 获取当前窗口索引
                                // var pIndex = parent.layer.getFrameIndex(window.name);
                                // // 关闭当前窗口
                                // window.parent.layer.close(pIndex);//关闭当前窗口
                            });
                    } else {
                        layer.msg(
                            data.msg,
                            {time: 1500},
                            function(){
                                $("#account-book-name").val("");//清空表单值
                            });
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
