<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
    <title>编辑流水</title>
    <style>
        .layui-form .layui-input-inline {
            width: 150px;
        }

        .layui-form .layui-form-item {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<form class="layui-form" style="margin: 80px">
    <div class="layui-form-item">
        <label class="layui-form-label" for="dateTime">日期时间</label>
        <div class="layui-input-inline">
            <input type="hidden" th:value="${accountCurrentId}" id="accountCurrentId" name="id">
            <input type="text" name="dateConverted" required lay-verify="dateTime"
                   placeholder="请输入日期时间" autocomplete="off" class="layui-input" id="dateTime"/>
        </div>

        <label class="layui-form-label" for="accountType">金融账户</label>
        <div class="layui-input-inline">
            <select name="account_type_name" id="accountType">
                <option></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" for="firstExCategory">一级分类</label>
        <div class="layui-input-inline">
            <select name="first_category_name" id="firstExCategory" lay-filter="firstExCategory">
                <option></option>
            </select>
        </div>

        <label class="layui-form-label" for="secondExCategory">二级分类</label>
        <div class="layui-input-inline">
            <select name="second_category_name" id="secondExCategory">
                <option></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" for="amount">金额明细</label>
        <div class="layui-input-inline">
            <input type="text" name="amount" required lay-verify="amount"
                   placeholder="请输入金额明细" autocomplete="off" class="layui-input" id="amount"/>
        </div>

        <label class="layui-form-label" for="remarks">备注</label>
        <div class="layui-input-inline">
            <input type="text" name="remarks" required lay-verify="remarks"
                   placeholder="备注" autocomplete="off" class="layui-input" id="remarks"/>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin: 30px 0 0 0">
        <div class="layui-input-block" style="text-align: center; margin: 0">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
        </div>
    </div>
</form>

<script th:src="@{/layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    //使用 layui 框架
    layui.use(['laydate', 'layer', 'element', 'jquery', 'form'], function () {
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var laydate = layui.laydate;

        //表单验证
        form.verify({
            dateTime: function (value) {
                if (value.trim() === '') {
                    return "请输入日期时间";
                }
            },
            amount: function (value) {
                if (value.trim() === '') {
                    return "请输入金额明细";
                }
            }
        });

        //渲染日期选择面板
        laydate.render({
            elem: '#dateTime', //指定元素
            type: 'datetime'
        });

        //获取本行流水id
        var accountCurrentId = $("#accountCurrentId").val();
        //查询流水编号 id 对应的所有数据
        $.ajax({
            url: '/accountCurrent/selectById?accountCurrentId=' + accountCurrentId,
            dataType: 'json',
            type: 'post',
            success: function (data) {
                if (data.success) {
                    //获取本行流水数据
                    var dateTime = data.data.dateConverted;//日期
                    var accountType = data.data.account_type_name;//金融账户
                    var firstExCategory = data.data.first_category_name;//一级分类
                    var secondExCategory = data.data.second_category_name;//二级分类
                    var amount = data.data.amount;//金额明细
                    var remarks = data.data.remarks;//备注
                    //渲染日期
                    $("#dateTime").val(dateTime);
                    //渲染金融账户
                    renderAccountType(accountType);
                    //渲染一级分类和二级分类
                    renderFirstExCategory(firstExCategory, secondExCategory);
                    //渲染金额明细
                    $("#amount").val(amount);
                    //渲染备注
                    $("#remarks").val(remarks);
                }
            }
        });

        //渲染金融账户
        function renderAccountType(account_type_name) {
            $.ajax({
                url: '/accountType/accountType.json',
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    var a_t = $("#accountType");
                    if (data.success) {
                        a_t.empty();//防止重复渲染
                        for (var i = 0; i < data.data.length; i++) {
                            a_t.append("<option>" + data.data[i] + "</option>");
                        }
                        a_t.val(account_type_name);
                        form.render('select'); //刷新渲染
                    } else {
                        a_t.empty();
                        a_t.append("<option>金融账户</option>");
                        form.render('select');
                    }
                }
            });
        }

        //渲染一级支出
        function renderFirstExCategory(firstExCategory, secondExCategory) {
            var f_e_c = $("#firstExCategory");
            $.ajax({
                url: '/categoryEx/firstExpenseCategory.json',
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.msg === "操作成功") {
                        f_e_c.empty(); //清空列表 避免重复提交渲染
                        for (var i = 0; i < data.data.length; i++) {
                            f_e_c.append("<option>" + data.data[i] + "</option>");
                        }
                        f_e_c.val(firstExCategory);//将列表设置为当前数据
                        form.render('select'); //刷新渲染
                        var fEc = f_e_c.val(); //获取一级支出
                        renderSecondExpenseCategory(fEc, secondExCategory); //渲染二级支出
                    }
                }
            });
        }

        //渲染二级支出
        function renderSecondExpenseCategory(firstExpenseCategory, secondExCategory) {
            var s_e_c = $("#secondExCategory");
            $.ajax({
                url: '/categoryEx/secondExpenseCategory.json?firstExpenseCategory=' + firstExpenseCategory,
                data: firstExpenseCategory,
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.msg === "操作成功") {
                        s_e_c.empty(); //防止重复渲染
                        for (var i = 0; i < data.data.length; i++) {
                            s_e_c.append("<option>" + data.data[i] + "</option>");
                        }
                        if (secondExCategory != null) {
                            s_e_c.val(secondExCategory);//将列表设置为当前数据
                        } else {
                            //渲染一级分类对应的二级分类
                            s_e_c.val(data.data[0]);
                        }
                        form.render('select'); //刷新渲染列表
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
        }

        //一级支出事件
        form.on('select(firstExCategory)', function (data) {
            //提交数据 返回后台 查询对应的二级分类
            var firstExpenseCategory = data.value;
            renderSecondExpenseCategory(firstExpenseCategory, null);
        });

        //提交表单
        form.on('submit(submit)', function (data) {
            $.ajax({
                url: '/accountCurrent/update',
                data: data.field,
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.success) {
                        layer.msg(
                            data.message,
                            {time: 1000},
                            function () {
                                //获取当前窗口索引
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);//关闭当前窗口
                            }
                        );
                    } else {
                        layer.msg(data.message);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
