<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
    <title></title>
</head>
<body>
<form class="layui-form" style="margin: 30px">
    <div class="layui-form-item">
        <label class="layui-form-label" for="account-book-name">账本名称：</label>
        <div class="layui-input-inline">
            <input type="hidden" th:value="${accountBookName}" id="old-account-book-name">
            <input type="text" th:value="${accountBookName}" name="accountBookName" required lay-verify="accountBookName" placeholder="请输入账本名"
                   autocomplete="off" class="layui-input" style="width: 180px" id="account-book-name"/>
        </div>
    </div>

    <div class="layui-form-item" style="text-align: center; margin: 0">
        <div class="layui-input-block" style="text-align: center; margin: 0">
            <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
        </div>
    </div>
</form>

<script th:src="@{/layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    //使用 layui 框架
    layui.use(['layer', 'element', 'jquery', 'form'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;

        //表单验证
        form.verify({
            accountBookName: function (value, item) {
                if (value.trim() === '') {
                    return "请输入账本名!";
                }
            }
        });

        //提交表单
        form.on('submit(submit)', function (data) {
            var oldAccountBookName = $("#old-account-book-name").val();//旧账本名
            var newAccountBookName = $("#account-book-name").val();//新账本名
            console.log(newAccountBookName);
            $.ajax({
                url: '/accountBook/editAccountBook.do',
                data: {oldAccountBookName: oldAccountBookName, newAccountBookName: newAccountBookName},
                dataType: 'json',
                type: 'post',
                success: function (data) {
                    if (data.success) {
                        layer.msg(
                            data.msg,
                            {time: 1000},
                            function(){
                                //是否更新账本列表
                                window.localStorage.setItem("isReloadAccountBookManageTable", "1");
                                // 获取当前窗口索引
                                var index = parent.layer.getFrameIndex(window.name);
                                // 关闭当前窗口
                                window.parent.layer.close(index);//关闭当前窗口
                            });
                    } else {
                        layer.msg(data.msg);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>
