/*√Ê∞Â…Ë÷√*/
.layui-panel {
    color: rgba(0, 0, 0, .85);
    min-width: 1119px;
    text-align: center;
    overflow: hidden;
}

.layui-form .layui-input-inline {
    width: 120px;
}

.layui-form-label {
    width: 100px;
}

#form-search .layui-form-label {
    width: 80px;
}

#account-total-list .amount {
    font-size: 16px;
}

.layui-form-select {
    width: 130px;
}

#account-total-list .separator {
    color: lightgrey;
    margin-left: 12px;
    margin-right: 12px;
}
