<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/common.css}" media="all">
    <title>账本初始化</title>
    <style>
        .layui-form-item .layui-form-checkbox {
            margin-left: 43px;
        }

        .layui-form-item {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
<div style="margin: 10px">
    <blockquote class="layui-elem-quote layui-text" style="text-align: center">
        我们已经为您准备了三个账本模板，若您有其他的需求，也可在后续自定义账本
    </blockquote>
    <form class="layui-form" style="margin: 30px">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>请选择账本模板</legend>
        </fieldset>
        <div class="layui-form-item">
            <input type="checkbox" name="travel" value="旅游账本" title="旅游账本">
            <input type="checkbox" name="daily" value="日常账本" title="日常账本" checked>
            <input type="checkbox" name="business" value="生意账本" title="生意账本">
        </div>

        <div class="layui-form-item" style="text-align: center; margin: 0">
            <div class="layui-input-block" style="text-align: center; margin: 0">
                <button class="layui-btn" lay-submit lay-filter="addAccountBookName">立即提交</button>
            </div>
        </div>
    </form>

    <div class="layui-progress" lay-filter="demo" id="progress" style="display: none">
        <div class="layui-progress-bar"></div>
    </div>
</div>
<script th:src="@{/layui.js}" charset="utf-8"></script>
<script type="text/javascript">
    //使用 layui 框架
    layui.use(['layer', 'element', 'jquery', 'form'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var form = layui.form;
        var isSubmit = true;//防止用户误点多次提交

        //提交表单
        form.on('submit(addAccountBookName)', function (data) {
            if(isSubmit){
                initAccountBook(data);
            }else{
                layer.msg("您已提交请求，请稍等");
            }
            return false;
        });

        function initAccountBook(data) {
            isSubmit = false;//加锁
            //判断用户是否选择
            var selected = JSON.stringify(data.field) === "{}";
            if(!selected){
                var index = 0;
                layer.msg("正在初始化账本，请稍后", {time: 1500}, function () {
                    $("#progress").css('display', 'block');//显示进度条元素
                    var n = 0, timer = setInterval(function () {
                        n = n + Math.random() * 10 | 0;
                        if (n > 100) {
                            n = 100;
                            doAjax();
                            clearInterval(timer);
                        }
                        index = n;
                        element.progress('demo', n + '%');
                    }, 200);
                });
            }else{
                isSubmit = true;
                layer.msg("请至少选择一个账本模板", {time: 1500});
            }

            function doAjax(){
                $.ajax({
                    url: '/accountBook/initAccountBook.do',
                    data: data.field,
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {
                        if (data.success) {
                            //标识用户账本已初始化
                            doAccountBookInit();
                            //反馈消息、跳转页面
                            layer.msg(data.msg, {time: 1500}, function () {
                                var i = layer.load(2, {time: 1000});
                                var n = 0, timer = setInterval(function () {
                                    n = n + Math.random() * 10 | 0;
                                    if (n > 50) {
                                        layer.close(i);
                                        //跳转页面
                                        parent.location.href = '/keepAccounts';
                                        //结束循环
                                        clearInterval(timer);
                                        // 获取当前窗口索引
                                        var index = parent.layer.getFrameIndex(window.name);
                                        // 关闭当前窗口
                                        window.parent.layer.close(index);//关闭当前窗口
                                    }
                                }, 200);
                            });
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            }

            function doAccountBookInit(){
                $.ajax({
                    url: '/accountIndex/setAccountBookInt',
                    dataType: 'json',
                    type: 'post',
                    success: function (data) {

                    }
                });
            }
        }
    });
</script>
</body>
</html>
